<div class="container-fluid" style="color: black" >
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <h5><i class="fa fa-search"></i> La bare de recherceh :</h5>
<div class="row">
  <div class="col-md-4">
   <input type="text " class="form-control" placeholder="Search By Id">
  </div>
  <div class="col-md-4">
    <input type="text " class="form-control" placeholder="Search By CNE">
  </div>
  <div class="col-md-4 ">
    <input type="text " class="form-control" placeholder="Search By Nom">
  </div>
</div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <input type="text " class="form-control" placeholder="Search By Id">
            </div>
            <div class="col-md-4">
              <input type="text " class="form-control" placeholder="Search By CNE">
            </div>
            <div class="col-md-4 ">
              <input type="text " class="form-control" placeholder="Search By Nom">
            </div>
          </div>
        </div>
        <div class="col-md-4">
<button class="btn btn-secondary btn-block"><i class="fa fa-plus"></i> Ajouter un nouveau utilisateur</button>
        </div>
      </div>
      <h2 style="text-align: center;padding: 10px">Titre du table : Liste des utilisateurs</h2>
      <table class="table table-hover table-light table-bordered table-active">
        <thead class="bg-info">
        <tr>
          <th >#</th>
          <th >First</th>
          <th >Last</th>
          <th >Handle</th>
          <th >Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td style="text-align: center;">
            <button class="btn btn-sm btn-info"><i class="fa fa-info-circle"></i></button>
            <button class="btn btn-sm btn-success"><i class="fa fa-edit"></i></button>
            <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td >Larry the Bird</td>
          <td>Thornton</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
